    <h2>{{'Experience Total Amount' | oTranslate }}</h2>
<div class="chartStyle">
    <o-chart #discreteBarChartTotalAmountsOfTheMonthsOfAYear type="discreteBar" chart-height="300">
    </o-chart>
</div>
    <h2>{{'ExperienceBox Total Amount' | oTranslate }}</h2>
<div class="chartStyle">
    <o-chart #discreteBarChartClientBox type="discreteBar" chart-height="300">
    </o-chart>
</div>
<div class="chartStyle">
    <o-chart #multiBarChartExpAndBoxTotalMonthComparation type="multiBar" chart-height="300">
    </o-chart>
</div>

