<o-form
  service="experiences"
  entity="experience"
  keys="id"
  header-actions="R;I;U;D"
  show-header-navigation="no"
  (onDataLoaded)="onFormDataLoaded($event)"
>
  <o-text-input
    attr="id"
    sql-type="integer"
    enabled="no"
    fxFlex="10"
    hidden
  ></o-text-input>

  <o-row>
    <div fxFlex="70">
      <o-column title-label="experiences_information" fxFlex>
        <o-row>
          <o-text-input
            class="input-padding"
            attr="name"
            fxFlex="50"
            required="yes"
            enabled="yes"
          ></o-text-input>
        </o-row>
        <o-date-input
          attr="enddate"
          fxFlex="30"
          required="yes"
          enabled="yes"
        ></o-date-input>
        <o-row>
          <o-currency-input
            attr="price"
            fxFlex="50"
            required="yes"
          ></o-currency-input>
        </o-row>
        <o-row>
          <o-textarea-input
            class="input-padding"
            attr="description"
            fxFlex="50"
            required="yes"
            enabled="yes"
          >
          </o-textarea-input>
        </o-row>
        <o-row>
          <o-real-input
            attr="latitude"
            decimal-separator="."
            max-decimal-digits="10"
            min-decimal-digits="0"
            class="input-padding"
            fxFlex="24"
          ></o-real-input>
          <o-real-input
            layout-margin-left
            attr="longitude"
            decimal-separator="."
            max-decimal-digits="10"
            min-decimal-digits="0"
            class="input-padding"
            fxFlex="25"
          >
          </o-real-input>
        </o-row>
        <o-image
          id="img"
          attr="associate_image"
          empty-image="assets/images/no-image.png"
          sql-type="OTHER"
          full-screen-button="true"
          auto-fit="true"
          fxFlex="50"
        ></o-image>
      </o-column>
    </div>
    <div fxFlex="30" fxFlex.md="100" *ngIf="hasGPSPositition()">
      <o-map
        class="o-map"
        [center]="getPositionGPS()"
        zoom="10"
        min-zoom="3"
        max-zoom="20"
        zoom-control="yes"
        search-control="no"
        layer-panel-visible="no"
      >
        <o-map-layer
          layer-type="marker"
          layer-id="location_marker"
          [layer-center]="getPositionGPS()"
        ></o-map-layer>
      </o-map>
    </div>
  </o-row>
</o-form>

