<o-form-layout-manager title="{{'EXPERIENCE-BOXES' | oTranslate }}" separator=" " mode="tab" label-columns="name">
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="experienceBoxesTable" service="experienceboxes" entity="experiencebox" keys="id"
      columns="id;name;price;description;associate_image" visible-columns="name;price;description" query-rows="20"
      auto-adjust=yes>
      <o-table-column attr="name" title="name" width="100px" content-align="center"></o-table-column>
      <o-table-column attr="price" title="price" width="30px" content-align="center"type="currency"
       currency-symbol="€" currency-symbol-position="right" width="30px" content-align="center"></o-table-column>
      <o-table-column attr="description" title="description" width="300px" content-align="start"></o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
