<o-form service="clients" entity="client" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-row>
        <o-column title-label="clients_information" fxFlex>

            <o-row>
                <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="surname" fxFlex="40" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-nif-input class="input-padding" attr="nif" fxFlex="40" required="yes"></o-nif-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="email" fxFlex="40" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-date-input attr="birthdate" fxFlex="20" required="yes" enabled="yes" fxFlex="40">
                  <o-validator [validator-function] = "ageValidator">
                    <o-error name="adult" text="adultage"></o-error>
                  </o-validator>
                </o-date-input>
            </o-row>
            <o-row>
                <o-textarea-input class="input-padding" attr="address" fxFlex="40" required="yes" enabled="yes">
                </o-textarea-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="phonenumber" fxFlex="40" required="yes"></o-text-input>
            </o-row>
            <o-row>
            <o-image attr="associate_image_client"
                auto-fit="true" enabled="true" read-only="false" show-controls="true" sql-type="OTHER" full-screen-button="true" fxFlex="20"
                full-screen-button="false" empty-image="./assets/images/no-image.png"></o-image>
          </o-row>
        </o-column>
    </o-row>
</o-form>
