<o-form-layout-manager title="{{'Pagos' | oTranslate }}"  separator=" - Nº" mode="tab" label-columns="client_name;relation_id">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table attr="clientsTable" service="experiences" insert-button="false" delete-button="false" entity="clientExperienceDetails" keys="relation_id"
        columns="relation_id;client_name;client_id;experience_id;exp_name;amountpaid;paymentdate"
        visible-columns="client_name;exp_name;amountpaid;paymentdate"
            query-rows="20" auto-adjust="yes">
            <o-table-column attr="client_name" title="client_name" content-align="center"></o-table-column>
            <o-table-column attr="exp_name" title="exp_name" content-align="center"></o-table-column>
            <o-table-column attr="amountpaid" title="amountpaid" type="currency" content-align="center"></o-table-column>
            <o-table-column attr="paymentdate" title="paymentdate" type="date" content-align="center"></o-table-column>
        </o-table>
    </div>
</o-form-layout-manager>
