<div fxLayout="column">
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'TOTAL_EXPERIENCE_BOX' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ experiencesBoxesAmount }}</p>
  </div>
  <div fxLayoutAlign="space-between center">
    <p class="home-card-title" fxFlex>{{ 'Income_last_3_months' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex style="size: 2%;">{{totalSum}}€</p>
  </div>
    <o-chart #discreteBarChartLast3MonthsBoxes type="discreteBar" [chart-parameters]="chartParameters" fxFlex>
    </o-chart>
</div>

