<o-form service="experiences" entity="experience" keys="id" header-actions="r;i;u;d" show-header-navigation="no">
  <o-row>
    <o-column title-label="subscription_information" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
      </o-row>
        <o-date-input attr="startdate" fxFlex="20"required="yes"></o-date-input>
        <o-date-input attr="enddate" fxFlex="20"required="yes"></o-date-input>
      <o-row>
        <o-combo attr="subscriptionid" class="input-padding" fxFlex="20" service="subscriptions"
           entity="subscription" keys="id" columns="id;name"
           visible-columns="name" value-column="id"required="yes"></o-combo>
      </o-row>
      <o-row>
        <o-textarea-input class="input-padding" attr="description" fxFlex="40" required="yes"></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
