<o-form-layout-manager title="{{'PAYMENTS' | oTranslate }}" separator=" - Nº" mode="tab" label-columns="client_name;boxclient_id">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table  insert-button="false" delete-button="false" attr="clientsTable" service="experienceboxes" entity="clientExperienceBoxDefault" keys="boxclient_id" columns="boxclient_id;client_name;client_id;boxexp_id;boxexp_name;amountpaid;paymentdate" visible-columns="client_name;boxexp_name;amountpaid;paymentdate"
            query-rows="20" auto-adjust="yes">
            <o-table-column attr="client_name" title="client_name" content-align="center"></o-table-column>
            <o-table-column attr="boxexp_name" title="boxexp_name" content-align="center"></o-table-column>
            <o-table-column attr="amountpaid" title="amountpaid" type="currency"currency-symbol="€"
            currency-symbol-position="right" ></o-table-column>
            <o-table-column attr="paymentdate" title="paymentdate" type="date" content-align="center"></o-table-column>
            <o-table-column-aggregate attr="amountpaid" title="(Total)" content-align="center"></o-table-column-aggregate>

        </o-table>
    </div>
</o-form-layout-manager>
