.pulsable{
  cursor:pointer;
  margin-top: 2%;
  color: black;
}

.page-link{
  color:black;
}

.page-link:hover{
  background-color: #E4A29D;
  color: white;
}

.active>.page-link, .page-link.active {
  background-color: #E4A29D;
}

.pagination{
  --bs-pagination-active-border-color:#E4A29D;
}


