<!-- TODO:Adaptar a users-->
<o-form service="users" entity="user" keys="id" header-actions="R;I;U;D" show-navigation="no">
    <o-text-input class="input-padding" attr="user_" fxFlex="40" required="yes"></o-text-input>
    <o-email-input class="input-padding" attr="email" fxFlex="40" required="yes"></o-email-input>
    <o-password-input class="input-padding" attr="password" fxFlex="40" required="yes"></o-password-input>
    <br/>
    <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
    <o-text-input class="input-padding" attr="surname" fxFlex="40" required="yes"></o-text-input>
    <o-nif-input class="input-padding" attr="nif" fxFlex="40" required="yes"></o-nif-input>
</o-form>
