.columnDiv {
    width: 48%;
    margin-right: 1%;
}

#modal-size-grid {
    height: 500px;
}

#boton {
    right: 100%;
}

.panel{
  margin: 5%;
  box-shadow: 2px 2px 10px 1px black;
}
