.columnDiv {
    width: 48%;
    margin-right: 1%;
}

.modal-size-grid {
    height: 700px;
}

mat-expansion-panel {
    margin: 10px;
}
 #client_image{
    margin: 20px;
    box-shadow: 2px 2px 2px;
 }
