<o-form #clientDetails service="clients" entity="client" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="integer" enabled="no" fxFlex="10"></o-text-input>
    <o-row>
        <o-column title-label="clients_information" fxFlex>
            <o-row>
                <o-text-input #nameAlias class="input-padding" attr="name" fxFlex="70" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-text-input #surnameAlias class="input-padding" attr="surname" fxFlex="70" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="nif" fxFlex="70" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="email" fxFlex="70" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-date-input attr="birthdate" fxFlex="20" required="yes" enabled="yes" fxFlex="70"></o-date-input>
            </o-row>
            <o-row>
                <o-textarea-input class="input-padding" attr="address" fxFlex="70" required="yes" enabled="yes">
                </o-textarea-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="phonenumber" fxFlex="70" required="yes"></o-text-input>
            </o-row>
        </o-column>

        <o-column class="columnDiv" >
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <o-table expand-groups-same-level="false" query-on-init="no" show-title="false" title="Experiences" attr="ClientExperiencesTable" auto-adjust="false" service="experiences" entity="clientExperienceDetails" insert-button="false" delete-button="false" refresh-button="false"
                    keys="client_id" parent-keys="client_id:id" columns="experience_id;exp_name;description;price;enddate;associate_image;assistance" visible-columns="exp_name;enddate;associate_image" grouped-columns="assistance" query-rows="10" auto-adjust=yes>

                    <o-table-columns-grouping columns="assistance"></o-table-columns-grouping>
                    <o-table-column id="img" title="Avatar" attr="associate_image" empty-image="assets/images/no-image.png" image-type="base64" searchable="no" type="image" avatar="yes" full-screen-button="true" auto-fit="true" fxFlex="40">
                    </o-table-column>
                    <o-table-column attr="name" title="name" content-align="center" width="100px"></o-table-column>
                    <o-table-column attr="enddate" title="enddate" content-align="center" type="date" format="LL" width="60px">
                    </o-table-column>
                </o-table>
            </mat-expansion-panel>

            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <o-table #experienceBoxTable expand-groups-same-level="false" query-on-init="no" show-title="false" title="ExperiencesBox" attr="ClientExperiencesBoxTable" auto-adjust="false" service="experienceboxes" entity="clientExperienceBoxDefault" insert-button="false"
                    delete-button="false" refresh-button="false" keys="client_id" parent-keys="idclient:id" columns="boxexp_name;description;price;associate_image" visible-columns="boxexp_name;price;associate_image" query-rows="10" auto-adjust=yes>

                    <o-table-column id="img" title="Avatar" attr="associate_image" empty-image="assets/images/no-image.png" image-type="base64" searchable="no" type="image" avatar="yes" auto-fit="true" fxFlex="40">
                    </o-table-column>
                    <o-table-column attr="boxexp_name" title="name" width="100px" content-align="center"></o-table-column>
                    <o-table-column attr="price" title="price" width="30px" content-align="center" type="currency" currency-symbol="€" currency-symbol-position="right" width="30px" content-align="center"></o-table-column>
                    <o-table-column attr="description" title="description" width="300px" content-align="start"></o-table-column>
                </o-table>
                <o-button id="nuevoPack" attr="basic2" type="RAISED" label="Primary" layout-padding color="primary" (click)="openModal('custom-modal-1')">Nuevo</o-button>

            </mat-expansion-panel>
        </o-column>
        <jw-modal id="custom-modal-1">
            <h1>A Custom Modal!</h1>

            <div id="modal-size-grid">
                <o-grid #experienceBoxGrid class="grid" attr="experienceBoxesTable" service="experienceboxes" entity="experiencebox" columns="id;name;price;description;associate_image" keys="id" cols="5" query-rows="8" orderable="true" quick-filter="true" sortable-columns="name;price"
                    sort-column="name" gutter-size="10px" refresh-button="true" detail-mode="no" pagination-controls="true" fixed-header="yes">
                    <o-grid-item *ngFor="let list of experienceBoxGrid.dataArray" auto-fit="true">

                        <div class="item" fxLayout="column" fxLayoutAlign="space-evenly center" (click)="showConfirm(list)">
                            <o-image data="{{list.associate_image}} " empty-image="assets/images/no-image.png" fxFlex="30" auto-fit="true" width="290px" enabled="false" show-controls="no"></o-image>
                            <div>{{ list.name }}</div>
                            <div>{{ list.price }}€</div>
                        </div>
                    </o-grid-item>
                </o-grid>
            </div>


            <button (click)="closeModal('custom-modal-1');">Close</button>
        </jw-modal>
        <o-button (click)="createPdf()" label="Generate pdf" style="float: right; display: flex;" icon="picture_as_pdf"></o-button>

    </o-row>
</o-form>

