<o-form service="experienceboxes" entity="experiencebox" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-row>
        <o-column title-label="EXPERIENCE_BOX_NEW" fxFlex>
            <o-row>
                <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-real-input attr="price" decimal-separator="," max-decimal-digits="2" min-decimal-digits="0" class="input-padding" fxFlex="40" required="yes"></o-real-input>
            </o-row>
            <o-row>
                <o-textarea-input attr="description" fxFlex="40" required="yes"></o-textarea-input>
            </o-row>
            <o-row>
                <o-image attr="associate_image" empty-image="assets/images/no-image.png" fxFlex="40" sql-type="OTHER"></o-image>
            </o-row>
        </o-column>
    </o-row>