<!-- <o-form service="subscriptions" entity="subscription" keys="subscriptionid" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="subscriptionid" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column title-label="SUBSCRIPTION_PERSONAL_INFORMATION" fxFlex>
      <o-row>
        <o-column attr="id" class="input-padding" fxFlex="40" required="yes"></o-column>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form> -->
